<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %></script>
<% end %>




<script type="text/javascript">
  window.logoURL = "<%= image_url('checkoff_logo.png') %>";
  window.logoURL_black = "<%= image_url('checkoff_logo_black.png') %>";
  window.logoURL_short = "<%= image_url('checkoff_logo_black_short.png') %>";
  window.cusomers_gif = "<%= image_url('customers.gif') %>";
  window.graphic_01 = "<%= image_url('hp_steve_3.png') %>";
  window.demo_logo = "<%= image_url('demo.png') %>";
  window.bars = "<%= image_url('bars-solid.svg') %>";
</script>


<main id="root"><marquee>React No Functionado!!!</marquee></main>