<!DOCTYPE html>
<html>
  <head>
    <title>Checkoff</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application' %>
    

    <% if current_user %>
      <script>
        window.currentUser = { 
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          };
      </script>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
